/*



main



*/
main{
    margin: 20px 5%;
    padding: 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Ipads, Tablets*/
@media(max-width:768px) {

}
/*mobile devices*/
@media(max-width:480px) {
    main{
        margin: 20px 1%;
    }
}
/* 



Year 



*/
#month_name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 90%;
    border-radius: 15px;
}
#year_view{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#year_view h1{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin: 0;
}
/*Ipads, Tablets*/
@media(max-width:768px) {

}
/*mobile devices*/
@media(max-width:480px) {
    #year_view{
        width: 100%;
    }
    #year_view h1{
        font-size: 28px;
    }
}
/*



Name of the month



*/
#month_view{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
}
#month_view h1{
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    width: 70%;
    height: 60px;
    line-height: 60px;
    margin: 0;
}
#month_view a{
    width: 15%;
    font-size: 35px;
    font-weight: normal;
    text-align: center;
    color: #000;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
}
/*Ipads, Tablets*/
@media(max-width:768px) {

}
/*mobile devices*/
@media(max-width:480px) {
    #month_name{
        width: 100%;
    }
    #month_view h1{
        font-size: 25px;
        height: 40px;
        line-height: 40px;
    }
    #month_view a{
        font-size: 25px;
        height: 40px;
        line-height: 40px;
    }
}
/*



callendar minimized area



*/
#callendar_wrapper{
    width: 90%;
    margin: 15px 0;
    border-radius: 15px;
}
/*Ipads, Tablets*/
@media(max-width:768px) {

}
/*mobile devices*/
@media(max-width:480px) {
    #callendar_wrapper{
        width: 100%;
    }
}
/*



week subtitle



*/
#week_subtitle_area{
    display: flex;
    background-color: #fff;
    padding: 10px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    justify-content: space-between;
}
.week_subtitle_name{
    width: 100%;
    margin: 2px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--light_gray);
}
#sun{
    border-radius: 15px 0 0 15px;
}
#sat{
    border-radius: 0 15px 15px 0;
}
/*Ipads, Tablets*/
@media(max-width:768px) {

}
/*mobile devices*/
@media(max-width:480px) {
    .week_subtitle_name{
        font-size: 15px;
    }
}
/*



days minimized



*/
#days_minimized_area{
    display: flex;
    background-color: #fff;
    padding: 10px;
    width: 100%;
    margin: 0;
    border-radius: 0 0 15px 15px;
    flex-wrap: wrap;
}
.day_minimized{
    width: 13.28%;
    border: 1px solid rgb(193, 190, 190);
    margin: 0.50%;
    height: 9vw;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    border-radius: 15px;
    position: relative;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.day_minimized.filler{
    border: 0;
    cursor:default;
}
/*Ipads, Tablets*/
@media(max-width:768px) {

}
/*mobile devices*/
@media(max-width:480px) {
    .day_minimized{
        height: 15vw;
        font-size: 15px;
    }
}
/*



days maximized area



*/
#carousel_wrapper{
    width: 100%;
    padding: none;
    display: flex;
    justify-content: center;
}
#days_maximized_area{
    width: 90%;
    height: 600px;
    margin: 20px 0;
}
#day_maximized{
    height: 600px;
    background-color: #fff;
    border-radius: 15px;
    width: 400px;
    /*allowing overflow inside the day maximized*/
    overflow-y: scroll;
}
/*styling the scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #b8b7b7; 
    border-radius: 15px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
    transition: .5s; 
}
#days_maximized_area h1{
    font-size: 30px;
    letter-spacing: 5px;
    margin: 10px 0;
    padding: 0;
}
#days_maximized_area h2{
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
    padding: 0;
}
.minimize_button{
    color: #000;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}
/*Ipads, Tablets*/
@media(max-width:768px) {

}
/*mobile devices*/
@media(max-width:480px) {
    #days_maximized_area{
        width: 100%;
        height: 450px;
    }
    #day_maximized{
        height: 450px;
        width: 250px;
    }
    #days_maximized_area h1{
        font-size: 20px;
    }
    #days_maximized_area h2{
        font-size: 30px;
    }
    .minimize_button{
        font-size: 15px;
    }
}