/*



main



*/
main{
    margin: 0;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Ipads, Tablets*/
@media(max-width:768px) {
    main{
        padding: 5% 5%;
    }
}
/*mobile devices*/
@media(max-width:480px) {
    main{
        padding: 5% 5%;
    }
}
/*



styling the scrollbar



*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #b8b7b7; 
    border-radius: 15px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
    transition: .5s; 
}
/*



main action area



*/
#main_action_area{
    width: 80%;
}
.main_action_button{
    background-color: #fff;
    color: #000;
    font-size: 25px;
    width: 100%;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    line-height: 50px;
    cursor: pointer;
    transition: .5s;
}
.main_action_button:hover{
    background-color: var(--light_gray);
    color: #000;
    font-size: 28px;
}
/*Ipads, Tablets*/
@media(max-width:768px) {
    #main_action_area{
        width: 100%;
    }
    .main_action_button:hover{
        font-size: 25px;
    }
}
/*mobile devices*/
@media(max-width:480px) {
    #main_action_area{
        width: 100%;
    }
    .main_action_button{
        font-size: 20px;
    }
    .main_action_button:hover{
        font-size: 20px;
    }
}
/*



modals style



*/
.modal{
    width: 600px;
    padding: 0;
}
.modal .modal-content{
    padding: 0;
}
.modal h3{
    text-transform: uppercase;
    text-align: center;
    background-color: var(--mint_darkened);
    color: #fff;
    font-weight: bold;
    padding: 20px;
}
.modal_capital{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
}
.modal .input-field{
    padding: 20px 30px;
}
.modal .input-field label{
    padding-left: 30px;
}
/*color input*/
.event_color,
.new_event_color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    padding: 0;
    border-radius: 100%;
}
.event_color::-webkit-color-swatch,
.new_event_color::-webkit-color-swatch {
    border-radius: 100%;
    border: 0;
}
.event_color::-moz-color-swatch,
.new_event_color::-moz-color-swatch {
    border-radius: 100%;
}
/*error message*/
#new_planning_error{
    text-align: center;
    color: rgb(121, 0, 0);
}
/*alert message*/
.modal .modal_alert{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin: 5px;
    color: red;
}
/*Ipads, Tablets*/
@media(max-width:768px) {

}
/*mobile devices*/
@media(max-width:480px) {
    .modal{
        width: 90%;
    }
    h3{
        font-size: 30px;
    }
    .modal_capital{
        width: 40px;
    }
}
/*



active event




*/
#active_events_area{
    display: flex;
    width: 90%;
    flex-direction: row;
    margin: 30px 0;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}
.active_event_section{
    padding: 0;
    margin: 0 0 30px 0;
    width: 30%;
    height: 600px;
    position: relative;
}
.active_event{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}
/*color input*/
.active_event .event_color{
    position: absolute;
    width: 35px;
    height: 35px;
    padding: 1px;
    top: 5px;
    right: 5px;
    background-color: #fff;
}
/*name input*/
.active_event .event_name_section{
    margin: 0;
    padding: 0px 45px;
    width: 100%;
}
.active_event .event_name_section textarea{
    border: 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
}
.active_event .event_name_section.light textarea{
    color: #000;
    opacity: 0.8;
}
.active_event .event_name_section.dark textarea{
    color: #fff;
    opacity: 0.9;
}
.active_event .event_name_section textarea:focus{
    outline: none;
}
.active_event .event_name_section textarea::-webkit-scrollbar{
    width: 0;
}
/*date input*/
.active_event input[type=date]:not(.browser-default){
    margin: 0;
    padding: 0;
    border: none;
    width: 90%;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
}
/*Ipads, Tablets*/
@media(max-width:768px) {
    #active_events_area{
        flex-direction: row; 
    }
    .active_event_section{
        width: 45%;
    }
}
/*mobile devices*/
@media(max-width:480px) {
    #active_events_area{
        flex-direction: column; 
    }
    .active_event_section{
        width: 100%;
    }
    /*name input*/
    .active_event .event_name_section textarea{
        font-size: 30px;
    }
}
/*



active addons area



*/
.active_addons_area{
    height: 400px;
    margin: 0;
    overflow-y: scroll;
}
.addon_section{
    margin: 10px;
    position: relative;
    padding: 0;
    border: 1px solid var(--dark_gray);
}
.addon_title{
    margin: 0;
    padding: 5px 10px;
    opacity: 0.8;
    font-weight: bold;
    letter-spacing: 2px;
}
.addon_title.dark{
    color: #fff;
}
.delete_addon_button{
    width: 25px;
    height: 25px;
    font-size: 12px;
    background-color: #fff;
    font-weight: bolder;
    border: 0;
    border-radius: 100%;
    color: rgb(214, 94, 94);
    position: absolute;
    top: -3px;
    left: -3px;
    cursor: pointer;
    z-index: 2;
}
/*
time 
*/
.active_event input[type=time]:not(.browser-default){
    margin: 0;
    padding: 0;
    border: none;
    width: 90%;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
}
/*
description and location textarea
*/
.event_location,
.event_description{
    padding: 5px;
    margin: 0;
    font-size: 18px;
    min-height: 80px;
    border: 0;
    outline: 0;
}
/*
transport
*/
.transport_area{
    display: flex;
    flex-direction: row;
    padding: 0 15px;
}
input.select-dropdown,
.dropdown-content li > a, 
.dropdown-content li > span,
.select-wrapper input.select-dropdown,
.select-wrapper input.select-dropdown:focus  {
    font-family: 'FontAwesome', 'Second Font name';
    font-size: 25px;
    border-bottom: 0;
    width: 50px;
}
/*



inactive add-ons area



*/
.inactive_addons_area{
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 5px;
    max-height: 40px;
    padding: 5px 0;
    opacity: 0.8;
}
.addons_buttons_area{
    display: flex;
    justify-content: center;
    height: 30px;
    gap: 10px;
    display: none;
}
.addons_trigger{
    width: 100%;
    position: absolute;
    top: -20px;
    left: 0;
    border: 0;
    transition: .3s;
    opacity: 1;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    transition: .3s;
}
.addons_trigger:hover{
    top: -25px;
    font-size: 25px;
}
.addon_button{
    border-radius: 100%;
    background-color: transparent;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    opacity: 0.9;
    color: #000;
}
.inactive_addons_area.dark .addon_button{
    color: #fff;
}
/*



guest list



*/
.guests_button{
    position: absolute;
    top: 10px;
    left: -40px;
    border: 0;
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
}
.guest_list{
    background-color: #fff;
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 10px;
    position: absolute;
    left: -100%;
    z-index: 3;
}
.delete_guest_list_button{
    color: rgb(167, 1, 1);
    background-color: #fff;
    border: 0;
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 30px;
    border-radius: 100%;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;
    cursor: pointer;
}
.delete_guest_list_button:active{
    background-color: #fff;
}
h4{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    opacity: .8;
    margin: 0;
    padding: 15px;
    border-radius: 15px;
}
h4.light{
    color: #000;
}
h4.dark{
    color: #fff;
}
.guests{
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 20px;
}
.guests:focus{
    outline: 0;
}