/*



main area



*/
#content_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
}
#register_area{
    width: 500px;
    margin: 50px auto;
    padding: 50px 50px;
    background-color: #fff;
}
/*Ipads, Tablets*/
@media(max-width:768px) {
    #content_wrapper{
        flex-direction: column;
        margin: 0;
    }
    #register_area{
        width: 70%;
    }
}
/*mobile devices*/
@media(max-width:480px) {
    #content_wrapper{
        flex-direction: column;
        margin: 0;
    }
    #register_area{
        width: 90%;
    }
}
/*



logo and catch phrase



*/

#main_logo{
    width: 40%;
}
h1{
    font-size: 30px;
    margin: 10px 0;
}
h2{
    font-size: 20px;
    margin: 10px 0;
}
/*Ipads, Tablets*/
@media(max-width:768px) {
    #main_logo{
        width: 50%;
        margin: 50px 0 0 0;
    }
}
/*mobile devices*/
@media(max-width:480px) {
    #main_logo{
        width: 80%;
        margin: 50px 0 0 0;
    }
}
/*



sign up form



*/
#signup{
    margin: 30px 0 0 0;
}
#email_error,
#password_error,
#login_error{
    color: #94171d;
    text-align: center;
}
#requirements_area{
    display: none;
}
#requirements_area p{
    text-align: left;
    margin: 0;
}
#requirements_area p.not_met{
    color: #94171d;
}
#requirements_area p.met{
    color: #24871d;
}
#sign_up_button{
    background-color: #fff;
    color: #000;
    font-size: 20px;
    text-transform: lowercase;
    margin: 30px 0 0 0;
    height: 60px;
    border-radius: 15px;
    vertical-align: middle;
    line-height: 58px;
}
/*Ipads, Tablets*/
@media(max-width:768px) {

}
/*



login modal



*/
#login_modal{
    width: 450px;
    padding: 0;
}
#login_modal .modal-content{
    padding: 0;
}
h3{
    text-transform: uppercase;
    text-align: center;
    background-color: var(--mint_darkened);
    color: #fff;
    font-weight: bold;
    padding: 20px;
}
#modal_capital{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
}
#login_modal .input-field{
    padding: 20px 30px;
}
#login_modal .input-field label{
    padding-left: 30px;
}
/*Ipads, Tablets*/
@media(max-width:768px) {

}
/*mobile devices*/
@media(max-width:480px) {
    #login_modal{
        width: 90%;
    }
    h3{
        font-size: 30px;
    }
    #modal_capital{
        width: 40px;
    }
}